@using LDBeauty.Core.Models.Product
@model IEnumerable<GetProductViewModel>

<partial name="Logo" />


<div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <a class="btn btn-outline-dark mt-auto " role="button" href="#" aria-disabled="true">NEW Products</a>
    <div class="dropdown">
        <button class="btn btn-outline-dark mt-auto dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Choose Make
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/Product/AllProducts?makeId=#">Action</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-outline-dark mt-auto dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Choose Category
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/Product/AllProducts?categoryId=#">Action</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-outline-dark mt-auto dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Choose Choose Hair Type
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/Product/AllProducts?tagId=#">Action</a></li>
        </ul>
    </div>
</div>




<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var product in @Model)
            {
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                    <a asp-action="details" asp-controller="product" asp-route-id="@product.Id" class="btn">
                            <img class="card-img-top" src="@product.ProductUrl" alt="..." />
                        </a>
                        <!-- Product details-->
                    <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                            <h5 class="fw-bolder">@product.Make</h5>
                                <h5 class="fw-bolder">@product.ProductName</h5>
                                <!-- Product price-->
                            @product.Price lv.
                            </div>
                            <div class="text-center">
                                Qty: @product.Quantity
                            </div>
                        </div>
                        <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a asp-action="details" asp-controller="product" asp-route-id="@product.Id" class="btn btn-outline-dark mt-auto">Order</a></div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
